<configuration>
    <!-- Spring Externalized Properties -->
    <springProperty name="app.name" source="spring.application.name" defaultValue="default_application"/>
    <springProperty name="env" source="spring.profiles.active" defaultValue="unknow"/>

    <!-- Property -->
    <property name="log.pattern.file" value="%d{yyyy-MM-dd'T'HH:mm:ssXXX} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Appenders -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Optional: add custom fields -->
            <customFields>{"service":${app.name},"env":${env}}</customFields>
            <pattern>${log.pattern.file}</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SYSTEM"/>
    </root>
</configuration>